<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>


  <body>
        <nav class="navbar navbar-expand-sm navbar-dark" id="mainNav">
                <div class="container">
                    <a class="navbar-brand" href="../">givefive.org</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse align-items-center" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto align-items-center">
                            <li class="nav-item">
                                <a class="nav-link" href="./#howitworks">How It Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./signup">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./#suggest">Suggest A Cause</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">About</a>
                            </li>
                           
                           
                        </ul>
                    </div>
                </div>
            </nav>
<!-- main content -->
<div class="container-fluid">
        <div class="row">
            <div class="col signup-hero">
                
                    <h4>Sign Up For the givefive Newsletter</h4>
                    <form id="formAddUser" name="adduser" method="post" action="/adduser">
                      <input id="inputUserFName" type="text" placeholder="First Name" name="fname" />
                      <input id="inputUserLName" type="text" placeholder="Last Name" name="lname" />
                      <input id="inputUserEmail" type="text" placeholder="Email" name="useremail" />
                      <button id="btnSubmit" type="submit">Submit</button>
                    </form>
                
            </div>
            
        </div>
        
            <div class="row">
            <footer>
                <div id="footer">
                    <div class="col text-center">
                        <h4>givefive.org</h4> is a non-profit organization created by John Gallino
                    </div>
                </div></footer>
            </div>

        <script src="" async defer></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
   
  </body>
</html>