<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  </head>
  <body>
    <h1>User List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < userlist.length; i++) {
          list += '<li>' + userlist[i].firstName + ' ' + userlist[i].lastName + '<br>' + userlist[i].email + '</li><br>';
        }
      %>
      <%- list %>
    </ul>

    <h1>Cause Submissions</h1>
    <ul>
      <%
        var causelist = '';
        for (i = 0; i < causes.length; i++) {
          causelist += '<li>' + causes[i].Submitter + '<br>' + causes[i].Email + '<br>' + causes[i].Name + '<br>' + '<a href=' + causes[i].Website + '>' + causes[i].Website + '</a>' + '<br>' + causes[i].Description + '</li><br>';
        }
      %>
      <%- causelist %>
    </ul>
    <br><br>
    <a href="../">Return Home</a>
  </body>
</html>